<div class="widget-wrap">
  <h3 class="widget-title">
    <%= __('profile') %>
  </h3>
  <div class="widget">
    <div class="profile">
      <div class="motto">
        <% if (theme.profile.source){ %>
          <p class="source"><span><%= theme.profile.source %></span></p>
        <% } %>
        <div class="quote">&#10077;</div>
        <p class="content"><%= theme.profile.metto %></p>
        <div class="close quote">&#10077;</div>
      </div>
      <div class="basic">
        <div class="avatar"></div>
        <div class="info">
          <h2 class="name"><%= theme.profile.name %></h2>
          <h3 class="location"><%= theme.profile.location %></h3>
        </div>
      </div>
      <div class="links">
        <% if (theme.profile.github){ %>
          <a id="github-link" class="profile-link" href="<%= 'https://github.com/' + (theme.profile.github) %>" title="<%= __('github') %>"></a>
        <% } %>
        <% if (theme.profile.stackoverflow){ %>
          <a id="stackoverflow-link" class="profile-link" href="<%= 'https://stackoverflow.com/users/' + (theme.profile.stackoverflow) %>" title="<%= __('stackoverflow') %>"></a>
        <% } %>
        <% if (theme.profile.email){ %>
          <a id="email-link" class="profile-link" href="<%= 'mailto:' + (theme.profile.email) %>" title="<%= __('email') %>"></a>
        <% } %>
        <% if (theme.profile.rss){ %>
          <a id="rss-link" class="profile-link" href="<%= url_for(theme.profile.rss) %>" title="<%= __('rss_feed') %>"></a>
        <% } %>
      </div>
    </div>
    <% if (theme.profile.enableBalloon){ %>
      <div class="holder">
        <div class="balloon"></div>
        <div class="balloon"></div>
        <div class="balloon"></div>
      </div>
    <% } %>
  </div>
</div>
