<% if (post.prev || post.next){ %>
  <nav id="article-nav">
    <% if (post.prev){ %>
      <a href="<%- url_for(post.prev.path) %>" id="article-nav-newer" class="article-nav-link-wrap">
        <h4 class="article-nav-caption"><%= __('newer') %></h4>
        <div class="article-nav-title"><%= post.prev.title || 'no title' %></div>
      </a>
    <% } %>
    <% if (post.next){ %>
      <a href="<%- url_for(post.next.path) %>" id="article-nav-older" class="article-nav-link-wrap">
        <h4 class="article-nav-caption"><%= __('older') %></h4>
        <div class="article-nav-title"><%= post.next.title || 'no title' %></div>
      </a>
    <% } %>
  </nav>
<% } %>
