<%- partial('commons/cover') %>
<div class="page-outer">
  <section class="page-main">
    <% var last; %>
    <% page.posts.each(function(post, i){ %>
      <% var year = post.date.year(); %>
      <% if (last != year){ %>
        <% if (last != null){ %>
          </div></section>
        <% } %>
        <% last = year; %>
        <section class="archives-wrap">
          <div class="archive-year-wrap">
            <a href="<%- url_for(config.archive_dir + '/' + year) %>" class="archive-year"><%= year %></a>
          </div>
          <div class="archives">
      <% } %>
      <%- partial('commons/archive/archive-post', {post: post, index: true}) %>
    <% }) %>
    <% if (page.posts.length){ %>
      </div></section>
    <% } %>
    <% if (page.total > 1){ %>
      <%- partial('commons/pagination') %>
    <% } %>
  </section>
</div>
