<div class="post-outer" data-post-title="<%= page.title %>" id="post">
  <section class="post-toc">
    <div class="post-fixed-container">
      <%- partial('commons/toc', {post: page}) %>
      <% if (theme.like.enabled){ %>
        <%- partial('commons/post/like') %>
      <% } %>
    </div>
  </section>
  <section class="post-main">
    <%- partial('commons/article', {post: page, index: false}) %>
    <% if (theme.gitalk.on){ %>
      <%- partial('includes/gitalk') %>
    <% } %>
  </section>
  <section class="post-sidebar">
    <%- partial('commons/sidebar', null, {cache: !config.relative_link}) %>
  </section>
</div>
