<!DOCTYPE html>
<html>
<%- partial('commons/head') %>
<body>
  <div id="container">
    <div id="wrap">
      <%- partial('commons/header') %>
      <div class="outer">
        <% if (is_post()){ %>
          <%- partial('commons/toc', {post: page}) %>
        <% } %>
        <section id="main"><%- body %></section>
        <% if (is_post() || is_home()) { %>
          <%- partial('commons/sidebar', null, {cache: !config.relative_link}) %>
        <% } %>
      </div>
      <%- partial('commons/footer', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('commons/mobile-nav', null, {cache: !config.relative_link}) %>
  </div>
</body>
</html>