<header id="header" class="<%= (is_post()) ? 'post-header' : 'index-header' %>">
    <div id="header-inner">
        <nav id="main-nav">
            <a id="main-nav-toggle" class="nav-icon"></a>
            <% for (var i in theme.menu){ %>
                <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
            <% } %>
        </nav>
        <nav id="sub-nav">
            <a id="nav-search-btn" class="nav-icon" title="<%= __('search') %>"></a>
        </nav>
        <div id="search-form-wrap">
            <%- search_form({button: '&#xF002;', text: __('search')}) %>
        </div>
    </div>
</header>
