<%
var title = page.title;

if (is_archive()){
  title = __('archive');

  if (is_month()){
    title += ': ' + page.year + '/' + page.month;
  } else if (is_year()){
    title += ': ' + page.year;
  }
} else if (is_category()){
  title = __('category') + ': ' + page.category;
} else if (is_tag()){
  title = __('tag') + ': ' + page.tag;
} else if (title === 'categories') {
  title = __('category');
}
%>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%- open_graph({twitter_id: theme.twitter, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <% if (theme.rss){ %>
    <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <%- css('css/style') %>
  <% if (theme.fancybox){ %>
    <%- css({href: 'https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css', integrity: 'sha256-Vzbj7sDDS/woiFS3uNKo8eIuni59rjyNGtXfstRzStA=', crossorigin: 'anonymous'}) %>
  <% } %>
  <%- js({src: 'https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js', integrity: 'sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', defer: true, crossorigin: 'anonymous'}) %>
  <% if (!is_post()){ %>
    <%- js({src: 'js/cover.js', defer: true}) %>
  <% } %>
  <% if (is_post()){ %>
    <%- js({src: 'js/toc.js', defer: true}) %>
  <% } %>
  <% if (is_post() && theme.like.enabled) { %>
    <%- js({src: 'https://cdn.jsdelivr.net/npm/@fingerprintjs/fingerprintjs@2.1.4/fingerprint2.min.js', defer: true}) %>
    <%- js({src: 'js/fingerprint.js', defer: true}) %>
    <%- js({src: 'js/gist.js', defer: true}) %>
    <%- js({src: 'js/like.js', defer: true, type: 'module'}) %>
  <% } %>
  <%- js({src: 'js/script.js', defer: true}) %>
  <%- js({src: 'js/search.js', defer: true}) %>
  <%- js({src: 'js/chocolate.js', defer: true}) %>
  <% if (theme.fancybox){ %>
    <%- js({src: 'https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js', integrity: 'sha256-yt2kYMy0w8AbtF89WXb2P1rfjcP/HTHLT7097U8Y5b8=', crossorigin: 'anonymous', defer: true}) %>
  <% } %>
  <% if (theme.google_analytics){ %>
    <%- partial('../includes/google-analytics') %>
  <% } %>
  <% if (theme.google_analytics){ %>
    <%- partial('../includes/gauges-analytics') %>
  <% } %>
</head>
